body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif; /* Adding a default font */
}
.REGISTER-PAGE {
  background-color: #f2f3f7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 20px; 
}

.REGISTER-PAGE .div {
  background-color: #f2f3f7;
    max-width: 1200px; /* Set a max width for larger screens */
    width: 100%; /* Make it flexible */
    height: auto; /* Allow height to adjust */
    position: relative;
    margin: 0 auto;
}

.REGISTER-PAGE .part {
  position: relative; /* Change from absolute to relative */
    width: 100%; /* Make it flexible */
    background-color: #f2f3f8;
    height: auto; /* Allow height to adjust */
    padding: 20px; /* Add some padding */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); 
}

.REGISTER-PAGE .terms-n-condition {
  position: absolute;
  width: 501px;
  height: 27px;
  top: 920px;
  left: 99px;
}

.REGISTER-PAGE .rectangle {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 4px;
  left: 0;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid;
  border-color: #a5accd;
}

.REGISTER-PAGE .text-wrapper {
  position: absolute;
  width: 457px;
  top: 0;
  left: 42px;
  font-family: "Onest-Regular", Helvetica;
  font-weight: 400;
  color: #66709d;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.REGISTER-PAGE .files-upload {
  position: absolute;
  width: 587px;
  height: 115px;
  top: 776px;
  left: 77px;
}

.REGISTER-PAGE .overlap-group {
  position: absolute;
  width: 583px;
  height: 70px;
  top: 45px;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 5px #04176d40;
}

.REGISTER-PAGE .text-wrapper-2 {
  position: absolute;
  width: 154px;
  top: 20px;
  left: 25px;
  font-family: "Onest-Regular", Helvetica;
  font-weight: 400;
  color: #333d6b;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.REGISTER-PAGE .octicon-upload {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 20px;
  left: 521px;
}

.REGISTER-PAGE .p {
  position: absolute;
  top: 0;
  left: 25px;
  font-family: "Onest-Regular", Helvetica;
  font-weight: 400;
  color: #66709d;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.REGISTER-PAGE .highest-education {
  position: absolute;
  width: 731px;
  height: 115px;
  top: 630px;
  left: 77px;
}

.REGISTER-PAGE .overlap {
  position: absolute;
  width: 727px;
  height: 70px;
  top: 45px;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid;
  border-color: #a5abc7;
}

.REGISTER-PAGE .text-wrapper-3 {
  position: absolute;
  width: 331px;
  top: 19px;
  left: 20px;
  font-family: "Onest-Regular", Helvetica;
  font-weight: 400;
  color: #66709d80;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.REGISTER-PAGE .iconamoon-arrow-down {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 19px;
  left: 672px;
}

.REGISTER-PAGE .postal-address-input {
  position: absolute;
  width: 731px;
  height: 115px;
  top: 484px;
  left: 77px;
}

.REGISTER-PAGE .text-wrapper-4 {
  position: absolute;
  width: 217px;
  top: 19px;
  left: 23px;
  font-family: "Onest-Regular", Helvetica;
  font-weight: 400;
  color: #66709d80;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.REGISTER-PAGE .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 22px;
  font-family: "Onest-Regular", Helvetica;
  font-weight: 400;
  color: #66709d;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.REGISTER-PAGE .email-address-input {
  position: absolute;
  width: 731px;
  height: 115px;
  top: 338px;
  left: 77px;
}

.REGISTER-PAGE .birth-date-input {
  position: absolute;
  width: 237px;
  height: 107px;
  top: 200px;
  left: 571px;
}

.REGISTER-PAGE .div-wrapper {
  position: absolute;
  width: 233px;
  height: 70px;
  top: 37px;
  left: 0;
  background-color: #fffcfc;
  border-radius: 10px;
  border: 2px solid;
  border-color: #a5accd;
}

.REGISTER-PAGE .text-wrapper-6 {
  position: absolute;
  width: 159px;
  top: 19px;
  left: 19px;
  font-family: "Onest-Regular", Helvetica;
  font-weight: 400;
  color: #66709d80;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.REGISTER-PAGE .text-wrapper-7 {
  position: absolute;
  width: 150px;
  top: 0;
  left: 22px;
  font-family: "Onest-Regular", Helvetica;
  font-weight: 400;
  color: #66709d;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.REGISTER-PAGE .age-input {
  position: absolute;
  width: 206px;
  height: 107px;
  top: 200px;
  left: 334px;
}

.REGISTER-PAGE .overlap-2 {
  position: absolute;
  width: 202px;
  height: 70px;
  top: 37px;
  left: 0;
  background-color: #fffcfc;
  border-radius: 10px;
  border: 2px solid;
  border-color: #a5accd;
}

.REGISTER-PAGE .gender-input {
  position: absolute;
  width: 225px;
  height: 109px;
  top: 198px;
  left: 77px;
}

.REGISTER-PAGE .overlap-3 {
  position: absolute;
  width: 221px;
  height: 70px;
  top: 39px;
  left: 0;
  background-color: #fffcfc;
  border-radius: 10px;
  border: 2px solid;
  border-color: #a5accd;
}

.REGISTER-PAGE .img {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 17px;
  left: 167px;
}

.REGISTER-PAGE .text-wrapper-8 {
  position: absolute;
  width: 105px;
  top: 19px;
  left: 23px;
  font-family: "Onest-Regular", Helvetica;
  font-weight: 400;
  color: #66709d80;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.REGISTER-PAGE .text-wrapper-9 {
  position: absolute;
  width: 85px;
  top: 0;
  left: 22px;
  font-family: "Onest-Regular", Helvetica;
  font-weight: 400;
  color: #66709d;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.REGISTER-PAGE .name-input {
  position: absolute;
  width: 731px;
  height: 109px;
  top: 58px;
  left: 77px;
}

.REGISTER-PAGE .overlap-4 {
  position: absolute;
  width: 727px;
  height: 70px;
  top: 39px;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid;
  border-color: #a5abc7;
}

.REGISTER-PAGE .text-wrapper-10 {
  position: absolute;
  width: 159px;
  top: 19px;
  left: 23px;
  font-family: "Onest-Regular", Helvetica;
  font-weight: 400;
  color: #66709d80;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.REGISTER-PAGE .register-as-company-wrapper {
  position: fixed;
  width: 559px;
  left: 881px;
  background-color: #5271ff;
  height: 1024px;
  top: 0;
}

.REGISTER-PAGE .register-as-company {
  position: relative;
  width: 513px;
  height: 996px;
  top: 11px;
  left: 16px;
}

.REGISTER-PAGE .JOB-ABLE-LOGO {
  position: absolute;
  width: 250px;
  top: 951px;
  left: 139px;
  font-family: "Mohave-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.REGISTER-PAGE .span {
  color: #ffffff;
}

.REGISTER-PAGE .text-wrapper-11 {
  color: #ffc83b;
}

.REGISTER-PAGE .or-register-as-a {
  position: absolute;
  top: 470px;
  left: 32px;
  font-family: "Mohave-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.REGISTER-PAGE .text-wrapper-12 {
  color: #ffdd55;
}

.REGISTER-PAGE .register-btn {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 296px;
  height: 65px;
  top: 626px;
  left: 117px;
}

.REGISTER-PAGE .overlap-group-2 {
  position: relative;
  width: 294px;
  height: 65px;
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0px 4px 4px #04176d59;
}

.REGISTER-PAGE .text-wrapper-13 {
  width: 125px;
  top: 19px;
  left: 84px;
  font-family: "Onest-Bold", Helvetica;
  font-weight: 700;
  color: #ffc83b;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.REGISTER-PAGE .overlap-5 {
  position: absolute;
  width: 473px;
  height: 151px;
  top: 313px;
  left: 31px;
}

.REGISTER-PAGE .text-wrapper-14 {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.REGISTER-PAGE .text-wrapper-15 {
  position: absolute;
  top: 56px;
  left: 0;
  -webkit-text-stroke: 1px #ffdd55;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffc83b;
  font-size: 78px;
  letter-spacing: 0;
  line-height: normal;
}

.REGISTER-PAGE .eva-arrow-back-fill {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .REGISTER-PAGE .div {
      padding: 10px; /* Reduce padding for smaller screens */
  }

  .REGISTER-PAGE .text-wrapper-14,
  .REGISTER-PAGE .text-wrapper-15 {
      font-size: 24px; /* Reduce font size for smaller screens */
  }

  .REGISTER-PAGE .register-btn {
      width: 100%; /* Full width for button */
  }
}