.REGISTER-PAGE {
    background-color: #f2f3f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .REGISTER-PAGE .div {
    background-color: #f2f3f7;
    overflow: hidden;
    width: 1419px;
    height: 1119px;
    position: relative;
  }
  
  .REGISTER-PAGE .part {
    position: absolute;
    width: 883px;
    left: 0;
    height: 1119px;
    top: 0;
  }
  
  .REGISTER-PAGE .overlap {
    position: relative;
    width: 881px;
    height: 1119px;
    background-color: #f2f3f8;
  }
  
  .REGISTER-PAGE .rectangle {
    position: absolute;
    width: 21px;
    height: 20px;
    top: 1041px;
    left: 84px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid;
    border-color: #a5accd;
  }
  
  .REGISTER-PAGE .text-wrapper {
    position: absolute;
    width: 457px;
    top: 1037px;
    left: 126px;
    font-family: "Onest-Regular", Helvetica;
    font-weight: 400;
    color: #66709d;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .REGISTER-PAGE .social-link-inputs {
    position: absolute;
    width: 556px;
    height: 185px;
    top: 829px;
    left: 79px;
  }
  
  .REGISTER-PAGE .linkedin-social-link {
    position: absolute;
    width: 249px;
    height: 50px;
    top: 135px;
    left: 305px;
  }
  
  .REGISTER-PAGE .sign-in-btn {
    position: absolute;
    width: 179px;
    height: 42px;
    top: 3px;
    left: 72px;
  }
  
  .REGISTER-PAGE .overlap-group {
    position: relative;
    width: 177px;
    height: 42px;
    background-color: #5271ff;
    border-radius: 40px;
    box-shadow: 0px 4px 4px #04176d59;
  }
  
  .REGISTER-PAGE .text-wrapper-2 {
    position: absolute;
    width: 112px;
    top: 9px;
    left: 33px;
    font-family: "Onest-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .REGISTER-PAGE .linkedin-logo {
    position: absolute;
    width: 52px;
    height: 50px;
    top: 0;
    left: 0;
  }
  
  .REGISTER-PAGE .twitter-social-link {
    position: absolute;
    width: 269px;
    height: 44px;
    top: 74px;
    left: 285px;
  }
  
  .REGISTER-PAGE .overlap-group-wrapper {
    top: 2px;
    left: 92px;
    position: absolute;
    width: 179px;
    height: 42px;
  }
  
  .REGISTER-PAGE .text-wrapper-3 {
    position: absolute;
    width: 112px;
    top: 9px;
    left: 33px;
    font-family: "Onest-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .x-logo {
    position: absolute;
    width: 92px;
    height: 43px;
    top: 0;
    left: 0;
  }
  
  .REGISTER-PAGE .fb-social-link {
    position: absolute;
    width: 252px;
    height: 47px;
    top: 136px;
    left: 2px;
  }
  
  .REGISTER-PAGE .div-wrapper {
    top: 2px;
    left: 75px;
    position: absolute;
    width: 179px;
    height: 42px;
  }
  
  .REGISTER-PAGE .img {
    position: absolute;
    width: 52px;
    height: 47px;
    top: 0;
    left: 0;
  }
  
  .REGISTER-PAGE .instagram-social {
    position: absolute;
    width: 254px;
    height: 47px;
    top: 81px;
    left: 0;
  }
  
  .REGISTER-PAGE .sign-in-btn-2 {
    top: 5px;
    left: 77px;
    position: absolute;
    width: 179px;
    height: 42px;
  }
  
  .REGISTER-PAGE .p {
    position: absolute;
    width: 353px;
    top: 0;
    left: 16px;
    font-family: "Onest-Regular", Helvetica;
    font-weight: 400;
    color: #66709d;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .company-website {
    position: absolute;
    width: 731px;
    height: 171px;
    top: 522px;
    left: 77px;
  }
  
  .REGISTER-PAGE .overlap-2 {
    position: absolute;
    width: 727px;
    height: 128px;
    top: 43px;
    left: 0;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid;
    border-color: #a5accd;
  }
  
  .REGISTER-PAGE .text-wrapper-4 {
    width: 242px;
    top: 16px;
    left: 23px;
    color: #66709d80;
    position: absolute;
    font-family: "Onest-Regular", Helvetica;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .text-wrapper-5 {
    position: absolute;
    width: 242px;
    top: 0;
    left: 22px;
    font-family: "Onest-Regular", Helvetica;
    font-weight: 400;
    color: #66709d;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .company-website-2 {
    position: absolute;
    width: 731px;
    height: 109px;
    top: 711px;
    left: 77px;
  }
  
  .REGISTER-PAGE .overlap-3 {
    position: absolute;
    width: 727px;
    height: 66px;
    top: 43px;
    left: 0;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid;
    border-color: #a5accd;
  }
  
  .REGISTER-PAGE .text-wrapper-6 {
    position: absolute;
    width: 246px;
    top: 16px;
    left: 23px;
    font-family: "Onest-Regular", Helvetica;
    font-weight: 400;
    color: #66709d80;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .text-wrapper-7 {
    position: absolute;
    width: 315px;
    top: 0;
    left: 22px;
    font-family: "Onest-Regular", Helvetica;
    font-weight: 400;
    color: #66709d;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .business-type-input {
    position: absolute;
    width: 348px;
    height: 102px;
    top: 402px;
    left: 77px;
  }
  
  .REGISTER-PAGE .overlap-4 {
    position: absolute;
    width: 344px;
    height: 66px;
    top: 37px;
    left: 0;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid;
    border-color: #a5accd;
  }
  
  .REGISTER-PAGE .text-wrapper-8 {
    position: absolute;
    width: 163px;
    top: 16px;
    left: 23px;
    font-family: "Onest-Regular", Helvetica;
    font-weight: 400;
    color: #66709d80;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .iconamoon-arrow-down {
    position: absolute;
    width: 29px;
    height: 27px;
    top: 18px;
    left: 294px;
  }
  
  .REGISTER-PAGE .text-wrapper-9 {
    position: absolute;
    width: 163px;
    top: 0;
    left: 22px;
    font-family: "Onest-Regular", Helvetica;
    font-weight: 400;
    color: #66709d;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .postal-address-input {
    position: absolute;
    width: 731px;
    height: 102px;
    top: 281px;
    left: 77px;
  }
  
  .REGISTER-PAGE .overlap-5 {
    position: absolute;
    width: 727px;
    height: 66px;
    top: 37px;
    left: 0;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid;
    border-color: #a5accd;
  }
  
  .REGISTER-PAGE .text-wrapper-10 {
    position: absolute;
    width: 168px;
    top: 16px;
    left: 23px;
    font-family: "Onest-Regular", Helvetica;
    font-weight: 400;
    color: #66709d80;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .text-wrapper-11 {
    position: absolute;
    width: 168px;
    top: 0;
    left: 22px;
    font-family: "Onest-Regular", Helvetica;
    font-weight: 400;
    color: #66709d;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .barangay-input {
    position: absolute;
    width: 347px;
    height: 102px;
    top: 402px;
    left: 461px;
  }
  
  .REGISTER-PAGE .overlap-6 {
    position: absolute;
    width: 343px;
    height: 66px;
    top: 37px;
    left: 0;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid;
    border-color: #a5accd;
  }
  
  .REGISTER-PAGE .text-wrapper-12 {
    position: absolute;
    width: 108px;
    top: 16px;
    left: 20px;
    font-family: "Onest-Regular", Helvetica;
    font-weight: 400;
    color: #66709d80;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .text-wrapper-13 {
    position: absolute;
    width: 108px;
    top: 0;
    left: 22px;
    font-family: "Onest-Regular", Helvetica;
    font-weight: 400;
    color: #66709d;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .company-email-input {
    position: absolute;
    width: 731px;
    height: 102px;
    top: 161px;
    left: 77px;
  }
  
  .REGISTER-PAGE .text-wrapper-14 {
    position: absolute;
    width: 214px;
    top: 16px;
    left: 23px;
    font-family: "Onest-Regular", Helvetica;
    font-weight: 400;
    color: #66709d80;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .text-wrapper-15 {
    width: 172px;
    top: 0;
    left: 22px;
    color: #66709d;
    position: absolute;
    font-family: "Onest-Regular", Helvetica;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .company-name-input {
    position: absolute;
    width: 731px;
    height: 102px;
    top: 40px;
    left: 77px;
  }
  
  .REGISTER-PAGE .text-wrapper-16 {
    width: 179px;
    top: 16px;
    left: 23px;
    color: #66709d80;
    position: absolute;
    font-family: "Onest-Regular", Helvetica;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .text-wrapper-17 {
    position: absolute;
    width: 179px;
    top: 0;
    left: 22px;
    font-family: "Onest-Regular", Helvetica;
    font-weight: 400;
    color: #66709d;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .overlap-wrapper {
    position: fixed;
    width: 559px;
    left: 881px;
    height: 1119px;
    top: 0;
  }
  
  .REGISTER-PAGE .overlap-7 {
    position: relative;
    width: 567px;
    height: 1119px;
  }
  
  .REGISTER-PAGE .register-as-company {
    position: absolute;
    width: 567px;
    height: 1119px;
    top: 0;
    left: 0;
  }
  
  .REGISTER-PAGE .overlap-8 {
    position: relative;
    width: 559px;
    height: 1119px;
    background-color: #5271ff;
    box-shadow: -5px 4px 15px #04176d40;
  }
  
  .REGISTER-PAGE .JOB-ABLE-LOGO {
    position: absolute;
    width: 250px;
    top: 1052px;
    left: 155px;
    font-family: "Mohave-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .span {
    color: #ffffff;
  }
  
  .REGISTER-PAGE .text-wrapper-18 {
    color: #ffc83b;
  }
  
  .REGISTER-PAGE .register-btn {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 296px;
    height: 71px;
    top: 694px;
    left: 133px;
  }
  
  .REGISTER-PAGE .overlap-group-2 {
    position: relative;
    width: 294px;
    height: 71px;
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 0px 4px 4px #04176d59;
  }
  
  .REGISTER-PAGE .text-wrapper-19 {
    position: absolute;
    width: 125px;
    top: 21px;
    left: 84px;
    font-family: "Onest-Bold", Helvetica;
    font-weight: 700;
    color: #ffc83b;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .or-register-as-an {
    position: absolute;
    width: 283px;
    top: 528px;
    left: 48px;
    font-family: "Mohave-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .text-wrapper-20 {
    color: #ffdd55;
  }
  
  .REGISTER-PAGE .overlap-9 {
    position: absolute;
    width: 464px;
    height: 175px;
    top: 352px;
    left: 47px;
  }
  
  .REGISTER-PAGE .text-wrapper-21 {
    position: absolute;
    width: 464px;
    top: 61px;
    left: 0;
    -webkit-text-stroke: 1px #ffdd55;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffc83b;
    font-size: 85px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .text-wrapper-22 {
    position: absolute;
    width: 421px;
    top: 0;
    left: 0;
    -webkit-text-stroke: 1px #ffffff;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .REGISTER-PAGE .eva-arrow-back-fill {
    position: absolute;
    width: 63px;
    height: 69px;
    top: 12px;
    left: 16px;
  }
  
  
  
  
  